/* books.component.scss */
.books-container {
    padding-left: 20px; /* Adjust the value as needed */
  }
  
  .book-list {
    margin-bottom: 20px; /* Optional: Add space between books */
  }
  
  .search-bar {
    margin-bottom: 20px; /* Optional: Add space below the search bar */
  }
  